body {
    background-color: #fec1d1;
    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    font-family: sans-serif;
    font-weight: 100;
}

img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    object-fit: cover;
    border: 5px solid white;
}
h1 {
    color: #d32417;
    font-weight: 200;
    font-size: 30px;
    padding: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
h2 {
    color: white;
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 20px;
}
a {
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: #d32417;
    display: block;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: 0.3s ease-in;
}
a:hover {
    background-color: #ffdf00;
}
.fa-brands {
    color:#d32417;
    padding: 10px;
    font-size: 50px;
    margin-top: 10px;
}
